<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script defer type="text/javascript" src="/CmdTest.js"></script>
  <h1>
    Command Test
  </h1>
  <div>
    <input id="whoInput" value="" disabled>
    <button id="whoBtn" oncli>who command</button>
  </div>
  <br>
  <div>
    <textarea id="lsInput" style="width: 140px; height: 145px;" disabled></textarea>
    <button id="lsBtn" oncli>ls command</button>
  </div>
</body>
</html>